<div class="container">
  <div class="row">
    <div class="menu-item-regresar col-sm -3">
      <a href="/reminder"
        ><img
          width="15%"
          onmouseout="this.src='assets/regresar.png';"
          onmouseover="this.src='assets/regresar2.png';"
          src="assets/regresar.png"
      /></a>
    </div>
    <div class="title col-sm-6"><p>Configurar Recordatorio</p></div>
    <div class="menu-item-guardar off col-sm-3">
      <a href="/reminder"
        ><img
          width="15%"
          onmouseout="this.src='assets/guardar.png';"
          onmouseover="this.src='assets/guardar2.png';"
          src="assets/guardar.png"
      /></a>
    </div>
  </div>
  <div class="row">
    <div class="clock col-sm-3"></div>
    <div class="clock col-sm-6">
      <input
        type="text"
        class="ghost-input"
        placeholder="Recuérdame que..."
        required
      />
    </div>
    <div class="clock col-sm-3"></div>
  </div>

  <div class="lista row">
    <div class="col-sm-3"></div>
    <div class="menu-creacion col-sm-6">
      <div class="label col-sm-8">Fecha</div>
      <div class="option col-sm-4">
        <input
          class="form-control"
          placeholder="yyyy-mm-dd"
          name="dp"
          [(ngModel)]="model"
          ngbDatepicker
          #d="ngbDatepicker"
        />
        <button class="btn" (click)="d.toggle()" type="button">Calendar</button>
      </div>
      <div class="label col-sm-12">
        <hr />
      </div>

      <div class="label col-sm-8">Hora</div>
      <div class="option col-sm-4">
        <ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
      </div>

      <div class="label col-sm-12">
        <hr />
      </div>

      <div class="label col-sm-6">Repetir</div>
      <div class="option col-sm-6">
        <select class="select-menu" name="lenguajes" id="lang">
          <option value="value1">Diario</option>
          <option value="value1">Semanal</option>
          <option value="value1">Mensual</option>
        </select>
      </div>
      <div class="label col-sm-12">
        <hr />
      </div>

      <div class="label col-sm-6">Sonido</div>
      <div class="option col-sm-6">
        <select class="select-menu" name="lenguajes" id="lang">
          <option value="javascript">To be Treated</option>
          <option value="php">Stairway to Heaven</option>
          <option value="php">Welcome to the jungle</option>
          <option value="php">The sky is criying</option>
        </select>
      </div>
      <div class="label col-sm-12">
        <hr />
      </div>

      <div class="label col-sm-6">Vibrar</div>
      <div class="option col-sm-6">
        <mat-slide-toggle color="primary"></mat-slide-toggle>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <div class="delete row">
    <div class="col-sm"></div>
    <div class="col-sm" (click)="eliminar()"><button>Eliminar</button></div>
    <div class="col-sm"></div>
  </div>
</div>
