.container {
  color: #ffffff;
  width: 100%;
}

.title {
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
}

.off {
  text-align: right;
}

.clock {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 50px;
}

.tabla {
  text-align: right;
  margin-top: 50px;
  margin-bottom: 50px;
}

#clock {
  display: inline;
  font-size: 50px;
}

.lista {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu-creacion {
  height: auto;
  background-color: #303030;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 15px;
  padding: 50px;
}

.lista-item > div {
  width: 50%;
}

#hora {
  padding: 10px;
  text-align: left;
}

#hora p {
  font-size: large;
}

#boton {
  padding-top: 25px;
  text-align: right;
}

#line-one {
  margin-top: 25px;
}

#line-two {
  margin-bottom: 25px;
}

input[type="text"] {
  background: #898b8b;
  display: inline;
  width: 80px;
  height: 80px;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
}

.select-hora {
  background: #898b8b;
  display: inline;
  width: 80px;
  height: 80px;
  font-size: 30px;
  color: #ffffff;
}

.label {
  text-align: left;
}

.option {
  text-align: right;
}

hr {
  background-color: #ffffff;
}

.select-menu {
  background: #303030;
  display: inline;
  width: 150px;
  color: #ffffff;
  border: 0px;
}

button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #307af7;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-top: 20px;
}
button:hover,
.form button:active,
.form button:focus {
  background: #4305e2;
}

.menu-item-regresar {
  text-align: left;
  margin-top: 50px;
}

.menu-item-guardar {
  text-align: right;
  margin-top: 50px;
}
